
  @media (min-width: 500px) {
     
 
  .v-application .elevation-1
  {
    box-shadow:none!important; 
  }

    nav
  {
   
    top: 64px!important; 
    width:auto!important;
 
  }
 
  header
  {
    left:0px!important;
  } 

}