
  @media (max-width: 500px) {
    .v-application--is-ltr .v-text-field .v-label
  {
font-size: 12px;;
  }
     
    .v-data-table > .v-data-table__wrapper .v-data-table__mobile-row ,table tr td
    {
      border-bottom: 1px solid #f7e3e3;
      min-height: 35px;;
    }
    tr:last-child  td:last-child
    {
      border-bottom: 1px solid #FFF;
      min-height: 35px;;
    }
    .v-data-footer div
    {
      margin:2px!important;
    }
    .v-data-table__mobile-table-row td:first-child { color:#0faf8d}
  /* .alternate-rows tr:nth-child(even) {
    background-color: #dddddd;
  } */
 
  .v-data-table__mobile-table-row td:last-child { border-bottom:1px solid  #6946dd!important }
 
   .v-data-table__empty-wrapper  td 
  {
        border-bottom:0px solid  #6946dd!important  
  }  

  .avatar-menu .v-menu__content--fixed
  {
    right:0px;
    top:50px;
    left:auto!important;
  }

  .avatar-menu  .v-list-item__icon
  {
    margin:0px;
  }
  .avatar-menu  .v-list-item
  {
    min-height: 20px!important;
  }
  .avatar-menu  .v-list-item__content
  {
    padding:0px;
  }
  .v-expansion-panel-header
  {
    padding-top:10px;
    padding-bottom: 10px;;
  }


  .v-application .elevation-1
  {
    border-bottom-left-radius:0px!important;
    border-bottom-right-radius:0px;
  }

  ::v-deep  .v-data-footer {
    padding: 0 100px;
  }

  .v-application--is-ltr .v-data-table--fixed-header .v-data-footer
  {
    margin-right:0px;
  }

}